/* --  section header  -- */

.section-header {
    position: relative;
    margin-bottom: 60px;
}

.section-header .title {
    text-transform: capitalize;
}

.title:after {
    content:"";
  	display:block;
  	height:4px;
  	width:40px;
  	background-color: $primary;
    margin-top: 20px;
}

.text-center .title:after {
    margin: 20px auto 0px;
}
